

.viewProduct
{
    padding: var(--gap-lg);
}

.girl-grid {

  max-width: var(--maxw);
  margin: 0 auto;
  padding: 0 var(--gap);




  display: grid;
  grid-template-columns: 1fr 1fr; /* text left, image right */
  gap: var(--gap-lg);
  background: var(--card);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: var(--gap-lg);
  align-items: center;

}

@media (max-width: 900px) {
  .girl-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.girl-image{
    display: flex;
    justify-content: center;

}
.girl-image img {
  width: 400px;
  height: auto;
}

.girl-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.girl-content h2 {
  align-self: self-start;
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 800;
  color: var(--white);
}

.girl-content p {
  font-size: 1rem;
  color: var(--muted);
  margin-bottom: 2rem;
  
}

.girl-content .alignment
{
  align-self: self-start;
  margin-top: 2rem;
}


.girl-content .btn:hover {
  color:black;
  background-color: white;
}

/* -----------------------------------------------ANIMATION-----------------------------------------------*/

@keyframes animate-gradient 
{
  from{
    background-position: 0%;
  }
  to{
    background-position: 200%;
  }
}


@keyframes appear_scale
{
  from
  {
    opacity: 0;
    scale: 0.5;
  }

  to
  {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear_sideways
{
  from
  {
    opacity: 0;
    transform: translateX(-300px);
  }

  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hero, .features, .services, .viewProduct,.contact-preference .contact-card
{
  animation: appear_scale 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

